# macOS system files
**/.DS_Store
bin/.DS_Store

# Build and CMake directories
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Compiled binary files
bin/
bin/*

# VSCode settings
.vscode/
metadata/



# Cache and log files
.cache
*.log
*.tmp
*.cmake
